body{
    margin: 0px;
    background-color: aquamarine;
    color: white;
    font-family: "Courier New", Courier, monospace;
}
h1{
    margin: 0px;
    background-color: rgb(233, 119, 119);
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.settings{
    text-align: center;
    background-color: white;
    color: orange;
    height: 20px;
    padding: 10px;
}
#rgb-colour{
    font-size: 200%;
}
.status{
    color: rgb(233, 119, 119);
    width: 20%;
    display: inline-block;
    font-weight: 900;
}
button{
    background: none;
    font-weight: 700;
    color: rgb(233, 119, 119);
    border: none;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    letter-spacing: 1px;
}
button:hover{
    border: 1px solid grey;
    background-color: rgb(231, 219, 219);
}
.box{
    width: 30%;
    float: left;
    background: white;
    padding-bottom: 30%;
    margin: 1.66%;
    border-radius: 20px;
}
.main-box{
    margin: 0px auto;
    width: 600px;
}